body {
  margin: 0px;
  padding: 0px;
  font-family: 'Kanit', sans-serif;
}
.main-layout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(242, 242, 242);
}

.container {
  height: 100%;
  width: 100%;
  max-width: 900px;
}

.headers {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    140deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 85, 93, 1) 100%
  );
}
.footer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    140deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 85, 93, 1) 100%
  );
}

.card {
  background: white;
  transform: translateY(-30px);
  border-radius: 20px;
}

.card-detail {
  background: white;
  border-radius: 20px;
  transform: translateY(-20px);
  padding: 20px;
}

.grid-6 {
  width: 50%;
}

.headers-information {
  padding: 20px;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
}

.text-title .name {
  font-size: 25px;
  text-transform: uppercase;
}
.text-title .position {
  font-style: italic;
  margin-top: 20px;
  font-size: 20px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: solid 5px #34495e;
  object-fit: cover;
}

.card-details {
  height: 100%;
  padding: 20px;
}
.work-detail {
  margin-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}

.company-name {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.work-position {
  color: gray;
}

.work-detail p {
  color: gray;
}

.skil-detail img {
  margin-right: 15px;
  height: 50px;
  object-fit: fill;
}

@media screen and (max-width: 500px) {
  .grid-6 {
    width: 100%;
  }
  .headers-information {
    margin-top: 50px;
    flex-direction: column;
  }
  .headers {
    height: 100%;
  }
  .text-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-title .p {
    text-align: center;
  }
  .card {
    transform: translateY(0px);
  }
}
