a {
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Signika Negative', sans-serif;
}
.main-layout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(242, 242, 242);
}

.container {
  height: 100%;
  width: 100%;
  max-width: 900px;
}

.headers {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    140deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 85, 93, 1) 100%
  );
}
.footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    140deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 85, 93, 1) 100%
  );
}

.card {
  background: white;
  transform: translateY(-30px);
  border-radius: 20px;
}

.card-detail {
  background: white;
  border-radius: 20px;
  transform: translateY(-20px);
  padding: 20px;
}

.grid-6 {
  width: 50%;
}

.headers-information {
  padding: 20px;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
}

.text-title .name {
  font-size: 25px;
  text-transform: uppercase;
}
.text-title .position {
  font-style: italic;
  margin-top: 20px;
  font-size: 20px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: solid 5px #34495e;
  object-fit: cover;
}

.card-details {
  height: 100%;
  padding: 20px;
}
.work-detail {
  margin-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}

.company-name {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.work-position {
  color: gray;
}

.work-detail p {
  color: gray;
}

.skil-detail img {
  margin-right: 15px;
  height: 50px;
  object-fit: fill;
}

.btn-contact {
  margin: 10px;
  height: 50px;
  width: 50px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #141414;
  border-radius: 50%;
  transition: 0.5s;
}

.btn-contact:hover {
  background: #74b9ff;
  color: white;
}

.button-85 {
  text-align: center;
  max-width: 100px;
  margin-bottom: 15px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .grid-6 {
    width: 100%;
  }
  .headers-information {
    margin-top: 50px;
    flex-direction: column;
  }
  .headers {
    height: 100%;
  }
  .text-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-title .p {
    text-align: center;
  }
  .card {
    transform: translateY(0px);
  }
}
